doctype html
html
  head
    title Logged In!
  body
    block content
    ul
      for app in apps
        li: a(href = app.link) #{app.name}
      else
        li Afraid! you're not supposed to access any of the apps...
