doctype html
html
  head
    title Can not log you in!
  body
    block content
    p Afraid! you're not supposed to access any of the apps...
    p Please register yourself on the platform!
    p Click #[a(href = "https://localhost:3000") here] to navigate to DDA application
  