<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style type="text/css">
      @media screen and (max-width: 600px) {
        .webkit {
          min-width: 600px;
        }
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
  </head>

  <body
    style="margin:0;padding:0;font-family: Inter, Arial, Helvetica, sans-serif;"
  >
    <center style="width: 100%;table-layout: fixed;">
      <div
        class="webkit"
        style="max-width:600px;border:2px solid #7b7b7b;border-radius:20px;"
      >
        <div
          style="width:100%;background: linear-gradient(130.06deg, #ACA4FE 0%, #5C55AB 35.33%, #3C3772 75.68%);border-radius: 20px;padding-top: 30px;"
        >
          <table style="width: 600px;">
            <tr>
              <table>
                <tr>
                  <td style="width:33%">
                    <div
                      style="height: 2px;background-color: #FFFFFF;margin: 20px;"
                    ></div>
                  </td>
                  <td>
                    <h3
                      style="font-size: 40px!important;margin: 0;color: #FFFFFF!important;letter-spacing: 1.5px;"
                    >
                      Experience
                    </h3>
                  </td>
                  <td style="width:33%">
                    <div
                      style="height: 2px;background-color: #FFFFFF;margin: 20px;"
                    ></div>
                  </td>
                </tr>
              </table>
            </tr>
            <table align="center">
              <tr>
                <td align="center" style="display: flex;">
                  <img
                    src="https://doctor-dentist.com/doctor-app/public/images/email-template/logo.png"
                    alt="h-removebg-preview"
                    style=" width: 55px; height: 55px;"
                  />
                  <h3
                    style="font-weight: normal;line-height: 55px;font-size: 25px; margin: 0; color: #FFFFFF!important;position: relative;left: -3px;"
                  >
                    Doctor - Dentist
                  </h3>
                </td>
              </tr>
            </table>

            <tr>
              <td align="center">
                <img
                  src="https://dda-app-bucket.s3.ap-south-1.amazonaws.com/email-template-assets/Moc5_1.png"
                  style="display: block; width: 250px;position: relative;left: 6%;"
                />
              </td>
            </tr>
          </table>
        </div>
        <table style="margin: 10px 0;">
          <tr>
            <td style="text-align: center;color: #7a7a7a;font-size: 12px">
              Here we send personalised messages to the user*
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td style="padding: 10px 20px; color: #7a7a7a;">
              <h3
                style="text-align: left;margin: 10px 0;font-size: 18px;font-weight: normal;"
              >
                Hello Esteemed User.
              </h3>
              <h3
                style="text-align: left;margin: 10px 0;font-size: 18px;font-weight: normal;"
              >
                The OTP to reset password is
                <span style="color: #E78E3C;font-size: 40px;"><%=USEROTP%></span
                >. This OTP is valid for 10 minutes.
              </h3>
              <h3
                style="text-align: left;margin: 10px 0;font-size: 18px;font-weight: normal;"
              >
                Team Doctor - Dentist
              </h3>
            </td>
          </tr>
        </table>

        <table>
          <table>
            <tr>
              <td align="center">
                <img
                  style="width: 80%;"
                  src="https://dda-app-bucket.s3.ap-south-1.amazonaws.com/email-template-assets/Moc1_1.png"
                  alt="image 2"
                />
              </td>
              <td align="center">
                <img
                  style="width: 100%;"
                  src="https://dda-app-bucket.s3.ap-south-1.amazonaws.com/email-template-assets/Moc2_1.png"
                  alt="image 3"
                />
              </td>
              <td align="center">
                <img
                  style="width:  70%;"
                  src="https://dda-app-bucket.s3.ap-south-1.amazonaws.com/email-template-assets/Moc3_1.png"
                  alt="image 1"
                />
              </td>
            </tr>
            <tr style="text-align: center;">
              <td style="font-size: 20px; font-weight: bold;">01</td>
              <td style="font-size: 20px; font-weight: bold;">02</td>
              <td style="font-size: 20px; font-weight: bold;">03</td>
            </tr>
            <tr>
              <td
                style="text-align: center;font-weight: bold;color: #000000!important"
              >
                Robust Billing and Coupon added features.
              </td>
              <td
                style="text-align: center;font-weight: bold;color: #000000!important"
              >
                Features : Map, Surgery, Test and Medicine selection
              </td>
              <td
                style="text-align: center;font-weight: bold;color: #000000!important"
              >
                Easy In-Clinic, Telephonic and Video Consultation
              </td>
            </tr>
          </table>
        </table>
        <table style="background-color: #ededed;margin: 20px 0; width: 100%;">
          <tr>
            <td>
              <h3 style="padding: 0 20px; color: #000000!important">
                Download The App Now For Superior Experience
              </h3>
            </td>
            <td>
              <img
                src="https://doctor-dentist.com/doctor-app/public/images/email-template/image5.png"
                alt=""
              />
            </td>
            <td>
              <a
                href="https://play.google.com/store/apps/details?id=com.doctor_dentist.app"
                target="_blank"
              >
                <img
                  src="https://doctor-dentist.com/doctor-app/public/images/email-template/image6.png"
                  alt=""
                />
              </a>
            </td>
          </tr>
        </table>

        <table>
          <tr class="notes-sec">
            <td class="sec" colspan="2">
              <img
                src="https://dda-app-bucket.s3.ap-south-1.amazonaws.com/email-template-assets/phone_1.png"
                style="width: 100%;position: relative;left: -2%;"
              />
            </td>
            <td class="sec" colspan="1">
              <ul style="padding:0;">
                <li style="display:flex;margin:10px 0">
                  <div
                    style="height: 15px;min-width:15px;border-radius: 50%;margin-right:10px;margin-top: 4px;background: linear-gradient(180deg, #41B5C2 39.58%, #000000 100%);"
                  ></div>
                  <div>
                    Meet your Doctor-Dentist team,
                    <span
                      style="color: #6761B7;text-decoration: underline;text-decoration-color: #ef8938;"
                      >India’s One of the Highest Rated</span
                    >
                    Professional Team
                  </div>
                </li>
                <li style="display:flex;margin:10px 0">
                  <div
                    style="height: 15px;min-width:15px;border-radius: 50%;margin-right:10px;margin-top: 4px;background: linear-gradient(180deg, #41B5C2 39.58%, #000000 100%);"
                  ></div>
                  <div>
                    <div>
                      Doctor-Dentist providers never seen before
                      <span
                        style="color: #6761B7;text-decoration: underline;text-decoration-color: #ef8938;"
                        >Unparalleled & Industry</span
                      >
                      Redefining services
                    </div>
                  </div>
                </li>
                <li style="display:flex;margin:10px 0">
                  <div
                    style="height: 15px;min-width:15px;border-radius: 50%;margin-right:10px;margin-top: 4px;background: linear-gradient(180deg, #41B5C2 39.58%, #000000 100%);"
                  ></div>
                  <div>
                    Doctors,Patients,Parents, and well Wishers; all look for
                    <span
                      style="color: #6761B7;text-decoration: underline;text-decoration-color: #ef8938;"
                      >satisfactiory</span
                    >
                    services which can assure great results.
                  </div>
                </li>
                <li style="display:flex;margin:10px 0">
                  <div
                    style="height: 15px;min-width:15px;border-radius: 50%;margin-right:10px;margin-top: 4px;background: linear-gradient(180deg, #41B5C2 39.58%, #000000 100%);"
                  ></div>
                  <div>
                    Doctor-Dentist solves this very search and provides a
                    platform
                    <span
                      style="color: #6761B7;text-decoration: underline;text-decoration-color: #ef8938;"
                      >transparent</span
                    >
                    which you can totally trust.
                  </div>
                </li>
              </ul>
            </td>
          </tr>
        </table>

        <div
          style="border: 1px solid #655FB5; border-top-left-radius: 20px; border-top-right-radius: 20px; margin-top: 20px;border-radius: 20px;"
        >
          <table style="margin: 20px 0;">
            <tr>
              <td style="padding:1px 50px;">
                <img
                  src="https://i.ibb.co/Lpt84nD/app-store-1-1.png"
                  style="width: 30px; height:auto;"
                  alt=""
                />
              </td>
              <td style="padding:1px 25px; border-left: 2px solid #7a7a7a;">
                <a href="https://doctor-dentist.com/" target="_blank">
                  <img
                    src="https://i.ibb.co/0jpPxR4/Solutions-website-logo-png-1-1.png"
                    style="width: 30px; height:auto;"
                    alt=""
                  />
                </a>
              </td>
              <td style="padding:1px 50px; border-left: 2px solid #7a7a7a;">
                <a
                  href="https://play.google.com/store/apps/details?id=com.doctor_dentist.app"
                  target="_blank"
                >
                  <img
                    src="https://i.ibb.co/ccQssjZ/image-29-1.png"
                    style="width: 30px; height:auto;"
                    alt=""
                  />
                </a>
              </td>
            </tr>
          </table>

          <div
            style="background:#655FB5; padding: 5px 10px; margin-top: 5px;border-radius: 0 0 20px 20px;"
          >
            <table>
              <tr>
                <td
                  style="text-decoration:underline;color: #FFFFFF;padding: 5px 20px; border-right: 2px solid #7a7a7a;"
                >
                  Privacy Policy
                </td>
                <td
                  style="text-decoration:underline;color: #FFFFFF;padding: 5px 20px;"
                >
                  Terms & Conditions
                </td>
              </tr>
            </table>

            <table>
              <tr>
                <td style="font-size: 15px; color:#FFFFFF; ">
                  Please do not reply to this mail as this is an automated mail
                  service.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </center>
  </body>
</html>
